* {
    position: relative;
    box-sizing: border-box;
}

.background {
    position: absolute;
    display: block;
    height: 810px;
    width: 100%;
    background-image: url(../img/worldOver.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    align-items: baseline;
}

h3 {
    margin-top: 7px;
    margin-left: 430px;
    color: rgb(206, 157, 23);
    font-size: 25px;
    font-weight: bold;
}

h3:hover{
    font-size: 30px;
}

.hint{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-bottom: 10px;
    display: revert;
}

.heart{
    width: 40px;
    height: 35px;
    margin-left: 2px;
    margin-top: 10px;
}

.emoji{
    width: 45px;
    height: 45px; 
    cursor: pointer;
    padding-top: 5px;
}

.solderPanel{
    position:absolute;
    display: grid;
    margin-left: 100px; 
    margin-top: 50px;
}

.scorePanel{
    margin-top: 10px;
    margin-left: -85px;
    height: 40px;
    width: 500px;
    display: grid;
    position: absolute;
}

.bestScore{
    background-color: rgb(24, 21, 21);
    border: rgb(141 67 72) solid 4px;
    width: 123px; 
    height: 32px;
    color:red;
    text-align: center;
    font-size: 18px;
    border-radius: 7px;
}

.bestScore.value{
    margin-top: 5px;
}

.levelDataPanel{
    position: absolute;
    display: grid;
    height: 40px;
    width: 500px;
}

.timer{
    /* position: absolute;
    display: inline-block; */
    margin-left: 175px;
    margin-top: 12px;
    background-color: rgb(24, 21, 21);
    border: rgb(141 67 72) solid 4px;
    width: 123px; 
    height: 32px;
    color:red;
    text-align: center;
    font-size: 18px;
    border-radius: 7px;
}

.levelScore{
    /* position: absolute;
    display: inline-block; */
    margin-left: 175px;
    margin-top: 5px;
    background-color: rgb(24, 21, 21);
    border: rgb(141 67 72) solid 4px;
    width: 123px; 
    height: 32px;
    color:red;
    text-align: center;
    font-size: 18px;
    border-radius: 7px;
}

.buttonsPanel{
    margin-left: 5px;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.gameLevels{
    text-align: center;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(141 67 72);
    width: 120px;
    height: 30px;
    background-color: rgb(163, 131, 42);
    border: rgb(87, 69, 22) 2px solid;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: inset -5px -2px 9px 0px #ddd49d, inset 0px -1px 0 0px rgb(255 255 255 / 15%), 2px 1px 0 0 #60624c, -2px 2px 0 0px rgb(0 0 0 / 40%), inset 0px 1px 9px 1px rgb(0 0 0 / 50%);
}

.mainTable{
    margin-top: -32px; /*??????????????????????*/
    margin-left: 420px;
}

.fieldTable {
    background: rgba(255, 165, 0, 0.03);
}

.cell {
    height: 55px;
    width: 55px;
    border: #4f534a solid 2px;
    background: #6d7563; 
    color: rgb(15, 13, 2);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    box-shadow: -4px 1px 5px 0px #ddd49d inset, 0 0 0 2px rgb(255 255 255 / 15%) inset, 0 4px 0 0 #60624c, 0 4px 0 1px rgb(0 0 0 / 40%), inset -3px -3px 4px 1px rgb(0 0 0 / 50%);
    cursor:pointer;
}

.cell.hint.ligth{
    background: rgb(239 207 8 / 45%);
    box-shadow: -20px 9px 14px 8px #d1c686, -1px 1px 0 2px rgb(255 255 255 / 15%), inset 1px -6px 15px 13px #60624c, 0 4px 0 1px rgb(0 0 0 / 40%), inset -3px -3px 4px 1px rgb(0 0 0 / 50%);
}

.cellTitle{
    border: #4f534a solid 2px;
    background: #6d7563;
    color: rgb(15, 13, 2);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    box-shadow: -4px 1px 5px 0px #ddd49d inset, 0 0 0 2px rgb(255 255 255 / 15%) inset, 0 4px 0 0 #60624c, 0 4px 0 1px rgb(0 0 0 / 40%), inset -3px -3px 4px 1px rgb(0 0 0 / 50%);
}

.cell.shown {
    border: #4f534a solid 2px;
    background: rgba(109, 117, 99, 0.3);
}
